.banner-bg {
  position: relative;
  background-size: cover;
  z-index: 1;
  height: 100vh;

}

.banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 5%;
}

.welcome-text {
  position: relative;
  padding: 260px 80px;
  h2 {
    font-size: 42px;
    margin-bottom: 30px;
    font-family: $bold;
  }
  h3 {
    color: $c_placeholder;
    font-size: 20px;
    padding-top: 1%;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 1s;
  }
  h5 {
    font-size: 25px;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.5s;

    -moz-animation-duration: 1s;
    -moz-animation-delay: 0.5s;
    span {
      font-family: $font_relish_pro;
      font-size: 2.4rem;
      padding-left: 1%;
    }
  }
}

.about {
  &.container {
    a {
      display: none;
      text-align: center;
      padding: $s-btn-padding;
      background: transparent;
      border: 2px solid white;
      text-transform: uppercase;
      color: white;
      width: $s-button;
      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;
      margin: auto;
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 1s;

      -moz-animation-duration: 2s;
      -moz-animation-delay: 1s;
      white-space: nowrap;
      &:hover {
        background-color: #fbfafd;
        color: $c_medium_dark;
      }
      @media screen and (max-width: 991px) {
        left: 35%;
        width: 30%;
        right: 35%;
      }
    }
  }
}

#vertical {
  display: none;

  border: 1px solid white;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  right: 50%;
  height: 5%;

  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;

  -moz-animation-duration: 2s;
  -moz-animation-delay: 1s;
}