/*---------------------------------------------------------
 1. Colors
 2. Size
-------------------------------------------------------- */

// 1. Colors
$c_white: #fff;
$c_dark: #292929;
$c_medium_dark: #555;
$c_light_text: #dedede;
$c_dark_background: #f8f8f8;
$c_light_background: #c7c7c7;
$c_placeholder: #999;
$c_link: #006699;
$c_all_text: #777;
$c_border: #ddd;
$c_profile-border: rgba(255,255,255,.5);

//2. Size
$s_circle: 50%;
$s-header-img: 150px;
$s-button: 150px;
$s-btn-padding: 15px;
$s-separation: 50px;

// Fonts
$font_10: 10px;
$font_13: 13px;
$font_15: 15px;
$font_18: 18px;
$font_25: 25px;
$bold: 'bold';
$font_relish_pro: 'Relish Pro';

