.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(221, 221, 221, 0);
}

/* Responsive Media Query */
@media only screen and (max-width: 1315px) {
    div#photos {
        width: 100%;
    }
}


@media only screen and (min-width: 1200px) {
    .container {
        width: 960px
    }
}

@media only screen and (max-width: 1023px) {

    #about {
        padding: 1rem;
    }

    #about,
    #about .over {
        height: min-content;
    }

    section.main.style2.right.dark.fullscreen {
        position: relative;
        width: auto;
        top: 0;
        right: 0;
        transform: none;
        height: min-content;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-toggle {
        border: 0 solid transparent;
    }

    .background#intro {
        background: url("../img/img2.jpg") no-repeat left;
        background-size: cover;
    }

    div.container#photos {
        width: auto;
    }

    .container.header_gallery {
        padding-top: 5vh;
    }
}

@media only screen and (max-width: 400px) {
    .testimonial1 h3,
    .testimonial2 h3 {
        font-size: 18px;
        font-weight: 600;
    }

    #owl-testimonial2 .item {
        width: 90%;
        margin: 0 auto;
    }

    #testimonial .testimonial2 .owl-prev {
        left: -7%
    }

    #testimonial .testimonial2 .owl-next {
        right: -7%
    }

    .promo1 {
        margin: 20px
    }

    h2,
    .h2 {
        font-size: 20px
    }
}


@media only screen and (min-width: 1024px) {
    section.main.style2.right.dark.fullscreen {
        width: 75%;
    }

    #bio {
        padding: 40px;
        width: 75vw;
    }
}

@media only screen and (min-width: 1440px) {
    section.main.style2.right.dark.fullscreen {
        width: 50%;
    }

    #bio {
        padding: 40px;
        width: 50vw;
    }
}

@media only screen and (min-width: 560px) {
    .navbar-collapse.collapse {
        display: block !important;
    }

    .nav.navbar-nav li a {
        font-size: 1rem;
        margin-bottom: 0;
    }

    #gallery .projects-holder.--open {
        max-height: 1000px;
    }

    .interview:last-child > p {
        margin-left: 25%;
    }

    .interview:last-child > a {
        margin-left: 25%;
    }

    .interview > p {
        max-width: 75%;
    }
}

#nav-icon {
    width: 100%;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    height: 2px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0;
}

#nav-icon span:nth-child(2) {
    top: 8px;
}

#nav-icon span:nth-child(3) {
    top: 16px;
}

#nav-icon.open span:nth-child(1) {
    top: 8px;
    transform: rotate(135deg);
    position: relative;
}

#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon.open span:nth-child(3) {
    top: -4px;
    transform: rotate(-135deg);
    position: relative;
}
