/**************************
 * 0. Font imports
 * 1. Generic
 * 2. Header
 * 3. Background Intro
 * 4. Background One
 * 5. Background Two
 * 6. My Work
 * 7. Contact
 * 8. Footer
 * 9. Gallery
 **************************/
/*
 * 0. Font imports
 */
@import 'https://fonts.googleapis.com/css?family=Amatica+SC';
@import 'http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800';
@import 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900';

/*
 * 1. Generic
 */
body {
    font-family: 'Raleway', Arial, sans-serif;
    color: #666;
    background-color: #fff;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 0;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
}

h3 {
    font-size: 28px;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}

h5 {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

h6 {
    font-size: 12px;
    line-height: 18px;
}

a {
    color: #666;
    text-decoration: none;
}

label {
    display: block;
    font-weight: normal;
}

button {
    width: 100%;
}

a:hover,
a:focus {
    color: #25b3ea;
    text-decoration: none;
}

.right {
    float: right;
    clear: right;
}

.left {
    float: left;
    clear: left;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.bold {
    font-weight: bold;
}

.heigth_hundred {
    height: 100vh;
}

.padding_ten {
    padding: 10%;
}

.page-section h2,
.content.box.style2 h2 {
    font-size: 5rem;
}

.padding_seven {
    padding: 7%;
}

/*
 * 2. Header
 */
.navbar-brand {
    font-family: 'Amatica SC', cursive;
    font-size: 25px;
}

.background {
    width: 100%;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.over {
    background-color: rgba(59, 59, 59, 0.42);
    height: 100vh;
}

/*
 * 3. Background Intro
 */
.background#intro {
    background: url("../img/background.jpg") no-repeat center;
    background-size: 100%;
    position: relative;
}

.intro {
    position: absolute;
    transform: translate(-50%, -80%);
    top: 80%;
    left: 50%;
    height: min-content;
    text-align: center;
    width: 100%;
    color: white;
}

.background#intro h2 {
    font-size: 8rem;
    text-transform: none;
    font-weight: bold;
}

.button.down, button.down {
    width: 5em;
    height: 5em;
    line-height: 4.5em;
    padding: 0;
    background: url("img/dark-arrow.svg") no-repeat center center;
    text-indent: -10em;
    overflow: hidden;
}

.dark .button.style2.down {
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
    padding: 4%;
}

.dark .button.style2:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

footer.arrow {
    margin-top: 10vh;
}

/*
 * 4. Background One
 */
.background#one {
    background: url("../img/background2.jpg") no-repeat top;
    background-size: 100%;
}

section.main.style2.right.dark.fullscreen {
    width: 50%;
    margin-top: 10vh;
    padding: 5%;
    background-color: white;
}

/*
 * 5. Background Two
 */
.background#two {
    background: url("https://images.unsplash.com/photo-1507838153414-b4b713384a76?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2700&q=80") no-repeat center;
    background-size: 100%;
}

section.main.style2.left.dark.fullscreen {
    width: 55%;
    margin-top: 25vh;
    padding: 5%;
    background-color: white;
}

/*
 * 6. My Work
 */
.projects-holder {
    margin-right: 0;
    margin-left: 0;
}

.projects-holder .col-md-4,
.projects-holder .col-md-4 {
    padding-right: 1px;
    padding-left: 1px;
}

.project-item {
    width: 100%;
    height: 350px;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
}

.project-item img {
    width: 100%;
    display: block;
}

.project-item:hover .project-hover {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.project-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.project-hover .inside {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 30px;
}

.project-hover h5 {
    font-size: 16px;
    margin-bottom: 15px;
}

.project-hover h5 a {
    color: white;
}

.project-hover p {
    color: white;
    font-size: 13px;
    line-height: 20px;
}

.page-section header {
    text-align: center;
    padding: 10%;
}

/*
 * 7. Contact
 */
.contact-form {
    margin-top: 40px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #aaaaaa;
    padding: 12px;
    color: #4d4d4d;
    margin-bottom: 30px;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: 0;
    border: 1px solid #5f6d7e;
}

.contact-form .button {
    padding: 1em 2em;
    background: #5f6d7e;
    color: white;
    text-transform: uppercase;
    border: 0;
    transition: all .25s ease-in-out;
}

.contact-form .button:focus {
    outline: 4px solid rgba(95, 109, 126, 0.5);
}

.contact-form .button:hover {
    background: #404040;
    box-shadow: 0 15px 30px -20px rgb(0 0 0);
}

/*
 * 8. Footer
 */
#footer p.copyright-text {
    margin: 40px 0;
    font-size: 13px;
}

#footer p.copyright-text a {
    color: #5f6d7e;
}

#footer p.copyright-text a:hover {
    color: #6cc0f7;
}

.clear {
    clear: both;
}

.t-social2 {
    padding: 0 5% 0;
}

.t-social2 a {
    font-size: 25px;
    padding: 1.5%;
}

/*
 * 9. Gallery
 */
.header_gallery .page-section header {
    padding-bottom: 0%;
}

.header_gallery div#footer {
    padding-bottom: 10%;
}

div#photos {
    width: 1292.3px;
}

.project-item.gallery {
    margin-bottom: 30px;
    margin-top: 15px;
    height: auto;
}

#photos_icon {
    font-size: 35px;
}

.caption.title {
    font-size: 1.5rem;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
